body {
    padding: 20px;
    background-color: aqua;
    color: brown;
    text-align: center;
    direction: rtl;

}
header ,  footer{ 
    background-color:black;
    color: bisque;
    padding: 15px;

}
img
{
    margin: 10px;
    border: 4px solid #dddd;
    border-radius: 8px;
    transition: transform 0.3s;

}
img:hover
{
transform: scale(1.05);
}
